* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #102820;
  --second-color: #4c6444;
  --third-color: #caba9c;
  --forth-color: #8a6240;
  --fifth-color: #4d2d18;
  --black-color: #000000;
  --white-color: #ffffff;
}

/* THIS IS THE MAIN BODY CSS INFORMATION */

body {
  width: 100vw;
  background-color: var(--third-color);
  color: var(--third-color);
}

/* THIS IS FOR THE NAVIGATION BAR */

.nav-bar {